body {
	font-family: Lato;
	font-weight: 300;
}

#selectedPlayer {
	margin-left: 3px;
	width: 74px;
	display: inline-block;
	text-align: left;
}

#players { 	
	margin-top: 0px;
	list-style: none;	
	padding-left: 0;
	padding: 9px;
	text-align:left;
}

#players span {
	float:right;
}

.row {

}

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.panel {
	border: 1px solid rgb(100,100,100);
	border-radius: 4px;
	width: 210px;
	height: 300px;
	float:left;
	margin-right: 20px;
}

.panel:first-child {
	margin-left: 90px;
}

.match {
	border: 2px solid rgb(180,180,180);
	/*font: 11px arial;*/
	font-size: 13px;
	border-radius: 5px;
	width: 90%;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	text-align:center;
	position: relative;
}

.match .score { position: relative;}

.match:first-child { margin-top: 15px;}
.match:last-child { margin-top: 5px;}
.match input {
	width: 14px;
	display: inline;
}

.match.point3 { border: 2px solid green;}
.match.point1 { border: 2px solid yellow; }
.match.point0 { border: 2px solid red; }
.match .badge { 
	position: absolute;
	color: white;
	background: #2d8fc1;
	border: 2px solid white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 11px;
	line-height: 20px;
	top: -12px;
	left: -10px;
	display: none;
}

.match.point3 .badge3 { display: inline;}
.match.point1 .badge1 { display: inline;}

.match.point0 .myscore {text-decoration:line-through;}
.match.point1 .myscore {text-decoration:line-through;}

.played .score { font-size: 22px;}
.played .score1 { margin-right: 15px;}

.realscore {
	visibility: hidden;
	font-size: 9px;
	margin-top: -4px;
	position: absolute;
	top: -5px;
	right: -13px;
}

.match.point0 .realscore { visibility: visible;}
.match.point1 .realscore { visibility: visible;}

.score {
	font-size: 14px;
	margin-left: 3px;
	margin-right: 3px;
	width: 5px;
	display: block;
	display: inline-block;	
	min-height: 1px;
}

.vs {
	margin-right: 10px;
	margin-left: 4px;
}

.played .vs {
	display: none;
}

#crown {
	position: absolute;
	top: -10px;
	left: -9px;
	width:17px;
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); /* IE 9 */
	-webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}